<div id ="card-job" class="col-md-auto">
  <div class="card mt-2" *ngFor="let elemento of dados">
    <div class="card-header text-center">{{elemento.title}}</div>
    <div class="card-body pb-1">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">
        {{elemento.label}}
      </p>
      <div class="d-flex justify-content-between align-items-end">
        <div class="text-muted dias-atras">{{diasAtras(elemento.date)}}</div>
        <a href="#" class="btn btn-primary">Candidatar-se</a>
      </div>
    </div>
  </div>
</div>
