<div *ngFor="let obj of jobs">
  <div id ="card-job" class="col-md-auto">
    <div class="card ">
      <div class="card-header">{{obj.occupation}}</div>
      <div class="card-body">
        <h5 class="card-title">{{obj.title}}</h5>
        <p class="card-text">
          {{obj.description}}&#10;
        </p>
        <p class="card-text">
          R${{obj.salary}} mensais&#10;
        </p>      
        <a href="#" class="btn btn-primary">candidatar</a>
      </div>
    <div class= "text-center">
      <div class="card-footer text-muted">{{obj.city}}</div>
    </div>
    </div>
  </div>
</div>
