<div class="w-100 h-100">
  <div class="d-flex justify-content-center">
    <div>
      <h2 class="text-center mt-5">Redefinir senha</h2>
      <div class="d-flex justify-content-center">
        <i class="material-icons" style="font-size: 100px">replay</i>
      </div>
      <h6 class="text-center mt-2">Vamos lá, é simples e rápido!</h6>

      <div class="mt-5" style="min-width: 25vw">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput #message maxlength="256" placeholder="e-mail" />
          </mat-form-field>
        </form>

        <!-- <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput #message maxlength="256" type="password" />
          </mat-form-field>
        </form> -->

        <div class="container-login100-form-btn mt-3">
          <button class="login100-form-btn" (click)="confirmacao()">Confirmar</button>
        </div>

        <!-- <ul class="login-more p-t-190">
          <li class="m-b-8">
          <span class="txt1">
          Esqueceu
          </span>
          <a href="#" class="txt2">
          Usuário / Senha ?
          </a>
          </li>
          <li>
          <span class="txt1">
          Não tem conta?
          </span>
          <a href="#" class="txt2">
          Registre-se
          </a>
          </li>
          </ul>

      </div> -->
    </div>
  </div>
</div>
